# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [8]:
# 3.14
# Select an option NoneType int float bool

print("float")
print(type(3.14))

float
<class 'float'>

In [9]:
# -34
# Select an option NoneType int float bool

print("int")
print(type(-34))

int
<class 'int'>

In [10]:
# True
# Select an option NoneType int float bool


print("bool")
print(type(True))

bool
<class 'bool'>

In [11]:
# None
# Select an option NoneType int float bool

print("NoneType")
print(type(None))

NoneType
<class 'NoneType'>

In [12]:
# 3.0
# Select an option NoneType int float bool

print("float")
print(type(3.0))

float
<class 'float'>

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [0]:
# Write the answers below

In [16]:
print("False")
print(3>4)

False
False

In [17]:
print("True")
print(4.0 > 3.999)

True
True

In [18]:
print("False")
print(4 > 4)

False
False

In [20]:
print("False")
print(4 > + 4)

False
False

In [21]:
print("True")
print(2 + 2 == 4)

True
True

In [23]:
print("False")
print(True and False)

False
False

In [24]:
print("False")
print(False or False)

False
False

In [25]:
print("True")
print(not False)

True
True

In [26]:
print("False")
print((3.0 - 1.0) != (5.0 - 3.0))

False
False

In [27]:
print("False")
print(3 > 4 or (2 < 3 and 9 > 10))

False
False

In [28]:
print("True")
print(4 > 5 or 3 < 4 and 9 > 8)

True
True

In [29]:
print("False")
print(not(4 > 3 and 100 > 6))

False
False

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [1]:
print("5")

a = 5
a == 5.0
a

5

5

Ouput ??
```
b = 10
c = b > 9
c
```

In [2]:
print("True")

b = 10
c = b > 9
c

True

True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [3]:
print("abc")

print("a" + "bc")

abc
abc

In [1]:
print("bcbcbc")

print( 3 * "bc")

print( 3.5 * "bc")

bcbcbc
bcbcbc

TypeError: can't multiply sequence by non-int of type 'float'

In [5]:
print("Error")

print("3" * "bc")

Error

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
print("c")

print("Abcd"[2])

c
c

In [7]:
print("Ab")

print("Abcd"[0:2])

Ab
Ab

In [8]:
print("Ab")

print("Abcd"[ :2 ])

Ab
Ab

In [9]:
print("cd")

print( "Abcd"[2:])

cd
cd

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [34]:
str1 = 'hello'
str2 = ','
str3 = 'world'

print()
print("h")
print(str1[0])

print()
print("Error")
try:
    print(Str1[1])
except NameError as e:
    print(e)
    
print()
print("o")
print(str1[-1])


print()
print("5")
print(len(str1))

print()
print("o")
print(str1[ len(str1)-1 ])

print()
print("")
print(str1[-1 : len(str1)-1 ])

print()
print("hello,world")
print(str1 + str2 + str3)

print()
print("hello, world")
print(str1 + str2 + ' ' + str3)

print()
print("worldworldworld")
print(str3 * 3)

print()
print("True")
print('hello' == str1)

print()
print("False")
print('HELLO' == str1)

print()
print("False")
print('a' in str3)

h
h

Error
name 'Str1' is not defined

o
o

5
5

o
o




hello,world
hello,world

hello, world
hello, world

worldworldworld
worldworldworld

True
True

False
False

False
False

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [51]:
# str1 = 'hello'
# str2 = ','
# str3 = 'world'

str4 = 'helloworld'

print("True")
print('low' in str4)


print()
print("or")
print(str3[1:3])

print()
print("wor")
print(str3[:3])

print()
print("error")
# try:
#     print([str3:-1])
# except SyntaxError as e:
#     print(e)

print()
print("ello")
print(str1[1:])

print()
print("elloworl")
print(str4[1:9])

print("")
print(str4[9:1:2])

print("error")
try:
    Str4[::-1]
except NameError as e:
    print(e)

True
True

or
or

wor
wor

error

ello
ello

elloworl
elloworl


error
name 'Str4' is not defined

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [1]:
print("")
if 6 > 7:
   print("Yep")

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [2]:
print("Nope")
    
if 6 > 7:
   print("Yep")
else:
   print("Nope")

Nope
Nope

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [3]:
print("Regal!")


var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")

Regal!
Regal!

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [4]:
print("Hot")


temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")

Hot
Hot

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [5]:
print("Cold")
    
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

Cold
Cold

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [6]:
print("5")
print("4")

print()
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

5
4

5
4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [11]:
print("0")
print("1")
print("2")
print("3")
print("4")
print("5")
print("Outside of loop")
print("6")

print()

num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

0
1
2
3
4
5
Outside of loop
6

0
1
2
3
4
5
Outside of loop
6

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [ ]:
# loop 0
# 4

# loop -1
# 7

# inifinite loop because numberOfLoops will always be < 6 as it gets smaller with each iteration

numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [1]:
print("10")
print("9")
print("8")
print("7")
print("6")
print("5")
print("4")

print()
num = 10
while num > 3:
   print(num)
   num -= 1

10
9
8
7
6
5
4

10
9
8
7
6
5
4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [4]:
print("10")
print("9")
print("8")
print("7")
print('Breaking out of loop')
print('Outside of loop')

print()
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')

10
9
8
7
Breaking out of loop
Outside of loop

10
9
8
7
Breaking out of loop
Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [ ]:
# infinite loop because num will always be < 0 as it wont be decremented

num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [7]:
Input = 10

Output = 0
i = 1
while i <= Input:
    Output += i
    i += 1

print(Output)

55

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [5]:
Input = 10

i = 1
while i <= Input:
    if i % 2 == 0:
        print(i)
    i += 1

print("Goodbye!")

2
4
6
8
10
Goodbye!

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [5]:
Input = 10

print("hello!")

while Input > 0:
    if Input % 2 == 0:
        print(Input)
    Input -= 1

hello!
10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

In [6]:
Input = 10

Output = 0
for i in range(1, Input + 1):
    Output += i

print(Output)

55

In [10]:
Input = 10

for i in range(1, Input + 1):
    if i % 2 == 0:
        print(i)

print("Goodbye!")

2
4
6
8
10
Goodbye!

In [12]:
Input = 10

print("hello!")

for i in range(Input + 1, 1, -1):
    if i % 2 == 0:
        print(i)

hello!
10
8
6
4
2

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [14]:
print("0")
print("1")
print("2")
print("3")
print("4")
print("4")

print()
num = 10
for num in range(5):
    print(num)
print(num)

0
1
2
3
4
4

0
1
2
3
4
4

In [16]:
print("0.0")
print("1.0")
print("2.0")
print("3.0")
print("4.0")

print()
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)

0.0
1.0
2.0
3.0
4.0

0.0
1.0
2.0
3.0
4.0

In [21]:
print("0")
print('Foo!')
print("4")
print("8")
print("12")
print("16")
print('Foo!')

print()
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')

0
Foo!
4
8
12
16
Foo!

0
Foo!
4
8
12
16
Foo!

In [23]:
print("h")
print("0")
print("l")
print("a")

print()
for letter in 'hola':
    print(letter)

h
0
l
a

h
o
l
a

In [2]:
print('Letter # 0 is S')
print("1")



print()
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)

Letter # 0 is S
1

Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [29]:
# 1
my_animals = {
    'a': 'aardvark',
    'b': 'donkey',
    'c': 'coati',  
    'd': 'donkey',
}

print(my_animals)

print()
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'
print(animals)

{'a': 'aardvark', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

{'a': 'aardvark', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

In [30]:
# 2
print()
print("0.0")
print("1.0")
print("2.0")
print("3.0")
print("4.0")

print()
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)

0.0
1.0
2.0
3.0
4.0

0.0
1.0
2.0
3.0
4.0

In [32]:
# 3
print("Error")

print()
print(animals['donkey'])

Error

KeyError: 'donkey'

In [33]:
# 4
print("4")

print(len(animals))

4
4

In [35]:
# 5

my_animals = {
    'a': 'anteater',
    'b': 'donkey',
    'c': 'coati',  
    'd': 'donkey',
}

print(my_animals)

print()
animals['a'] = 'anteater'
print(animals)

{'a': 'anteater', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

{'a': 'anteater', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

In [36]:
# 6
print("8")

print(len(animals['a']))

8
8

In [38]:
# 7
print("False")

print('baboon' in animals)

False
False

In [39]:
# 8
print("True")

print('donkey' in animals.values())

True
True

In [41]:
# 9
print("True")

print('b' in animals)

True
True

In [43]:
# 10
print("a, b, c, d")

print(animals.keys())

a, b, c, d
dict_keys(['a', 'b', 'c', 'd'])

In [44]:
# 11
my_animals = {
    'a': 'aardvark',
    'c': 'coati',  
    'd': 'donkey',
}

print(my_animals)

print()
del animals['b']
len(animals)
print(animals)

{'a': 'aardvark', 'c': 'coati', 'd': 'donkey'}

{'a': 'anteater', 'c': 'coati', 'd': 'donkey'}

In [45]:
# 12
print("aardvark, coati, donkey")

print(animals.values())

aardvark, coati, donkey
dict_values(['anteater', 'coati', 'donkey'])

In [0]:
## Outputs...

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [47]:
x = (1, 2, (3, 'John', 4), 'Hi')
x

(1, 2, (3, 'John', 4), 'Hi')

In [50]:
print("1")
print(x[0])

1
1

In [52]:
print("(3, 'John', 4)")

print(x[2])

(3, 'John', 4)
(3, 'John', 4)

In [53]:
print("Hi")
print(x[-1])

Hi
Hi

In [54]:
print("4")

print(x[2][2])

4
4

In [55]:
print("4")

print(x[2][-1])

4
4

In [56]:
print("i")

print(x[-1][-1])

i
i

In [58]:
print("error")

print(x[-1][2])

error

IndexError: string index out of range

In [60]:
print("(1,)")

print(x[0:1])

(1,)
(1,)

In [61]:
print("(1, 2, (3, 'John', 4))")

print(x[0:-1])

(1, 2, (3, 'John', 4))
(1, 2, (3, 'John', 4))

In [62]:
print("4")

print(len(x))

4
4

In [64]:
print("true")

print(2 in x)

true
True

In [65]:
print("False")
print(3 in x)

False
False

In [67]:
print("error")

x[0] = 8
print(x)

error

TypeError: 'tuple' object does not support item assignment

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

In [70]:
# varA = "1"
# varB = "2"

varA = 1
varB = 2


if type(varA) == str:
    print("string involved")
elif varA > varB:
    print("bigger")
elif varA == varB:
    print("equal")
elif varA < varB:
    print("smaller")
else:
    print("error")

smaller

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [4]:
s = "azcbobobegghakl"

count = 0
for letter in s:
    if letter in ['a', 'e', 'i', 'o', 'u']:
        count += 1

print(count)

5

In [5]:
sum(map(s.count, ['a', 'e', 'i', 'o', 'u']))

5